<html ng-app="app" ng-controller="ctrl" ng-keydown="keydown($event)">
    <meta charset="UTF-8">
    <head>
        <link href="source/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="source/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link href="a.css" rel="stylesheet">
    </head>
    <body hidden="true">
        <div id="main" class="container-fluid" style="margin-top: 50px">
        <div ng-show="erro" class="formPequeno alert alert-danger text-center">
            <strong>{{erro}}</strong>
        </div>
        <!-- aba de consulta -->
        <div class="container" ng-show="aba == 'pesquisa'">
            <h3>Pesquisa de Perguntas</h3>
            <form action="" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="pes.text" class="control-label col-sm-2">Texto</label>
                        <div class="col-sm-6">
                            <input type="text" name="pes.text" class="form-control" ng-model="pes.text">
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row" style="margin-bottom: 15px">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-primary" ng-click="btnPesquisarClick()" eat-click><span class="glyphicon glyphicon-refresh"></span> Pesquisar</button>
                    <button type="button" class="btn btn-warning" ng-click="btnPesquisaLimparClick()" eat-click><span class="glyphicon glyphicon-backward"></span> Resetar</button>
					<button type="button" class="btn btn-success" ng-click="btnNovoRegistro()"><span class="glyphicon glyphicon-plus" eat-click></span> Nova Pergunta</button>
                 </div>
            </div>
            <table ng-show="pesquisa.items.length > 0" class="table table-bordered table-hover table-condensed table-striped" >
                <thead>
                    <tr>
                        <th style="width:60px;">id</th>
                        <th>Text</th>
                        <th style="width:125px;">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in pesquisa.items">
                        <td>{{ o.id }}</td>
                        <td>{{ o.text }}</td>
                        <td>
                            <button class="btn btn-warning" ng-click="btnRowEditClick(o.id)"><i class="glyphicon glyphicon-pencil"></i></button>
                            <!-- a diretiva ng-confirm-clic apresenta a mensssagem de confirmação antes da exclusao-->
                            <button class="btn btn-danger" 
                                ng-click="btnRowRemoveClick(o.id)" 
                                ng-confirm-click="Confirma a exclusão ?"
                                ><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- aba de edicao ou inclusao -->
        <div class="container" ng-show="aba == 'cadastro'">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <button type="button" class="btn btn-primary" ng-click="btnVoltaAbaConsulta()">Consulta</button>
					<button type="button" class="btn btn-success" ng-click="btnNovoRegistro()"><span class="glyphicon glyphicon-plus" eat-click></span> Nova Pergunta</button>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-primary"  ng-click="btnSalvar()">
                    <span class="glyphicon glyphicon-plus"></span> Salvar
                    </button>
                </div>
            </div>
            <div class="container">
                <h3>Edição Perguntas</h3>
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="pes.text" class="control-label col-sm-2">Texto</label>
                        <div class="col-sm-8">
                            <textarea type="text" ng-model="formEdicao.o.text" ng-required="true"  class="form-control custom-control" rows="5" style="resize:none" required="required"></textarea>						
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Opções da Pergunta</h4>
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Text</th>
                                <th style="width:80px;">Correta</th>
                                <th style="width:80px;">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in formEdicao.o.opcoes" ng-class="{'alert-danger':o.status === 'deletado'}">
                                <td>
                                    <textarea type="text" ng-model="o.text" ng-required="true"  class="form-control custom-control" rows="3" style="resize:none" required="required"></textarea>						
                                </td>
                                <td ng-class="{'correta':o.correta == 'true'}">
                                    <input type="radio" name="radio-primary" ng-model="o.correta" value="true" ng-change="opcaoUpdate($index)" />
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-times-circle fa-lg text-danger" 
                                        ng-if="!$first"
                                        style="cursor:pointer;"
                                        ng-click="opcoesRemover($index)"
                                        title="Delete" aria-hidden="true"></i>
                                    <i class="fa fa-plus-circle fa-lg text-success"
                                        ng-if="$last"
                                        style="cursor:pointer;"
                                        ng-click="opcoesAdicionar()"
                                        title="Add" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
						</table>
                    </div>
                </form>
 
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-primary"  ng-click="btnSalvar()">
                    <span class="glyphicon glyphicon-plus"></span> Salvar
                    </button>
                </div>
            </div>
        </div>
    
	
	</body>
</html>
<script src="jquery-3.1.0.min.js"></script>
<script src="angular-1.6.6.min.js"></script>
<script src="pergunta-crud-mock.js"></script>
<script src="pergunta-crud.js"></script>